{% extends "base.html" %} {% block content %}
<div class="container mt-5">

    <h1>Admin Login</h1>
    <form method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">User Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="jhondoe">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleFormControlInput2" placeholder="*******">

        </div>
        <button class="btn btn-secondary">Login</button>

    </form>
</div>
{% endblock content %}